<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page.</h1>
    <!-- <h3><%= 1 + 2 %></h3> jo bhi output mil rha hai ye wala tag usko ek string mein convert krta hai. -->
    <!-- <h3><%= 'apnaCollege'.toUpperCase() %></h3> -->
    <h3><%= ['hello','hola','namaste'][0] %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod qui maiores esse expedita aspernatur corporis similique facilis voluptatem, corrupti fuga non praesentium quam quo amet! Sapiente explicabo animi facere culpa?</p>
    <button>click me!</button>
</body>
</html>