p{
    color: #a52a2a;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;
}
h1{
    text-align: center;
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    text-align: center;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h4{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
    color: rgb(00, 255, 00);
}
button{
    background-color: white;
    color: blueviolet;
}
textarea{
    color: black;
}
span{
    text-decoration: underline;
}